# Environment
NODE_ENV=development
PORT=4000

# Database
DATABASE_URL=postgresql://medonivo:medonivopass@localhost:5432/medonivo_db?schema=public

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT & Auth
JWT_SECRET=super-secret-jwt-key-medonivo-platform-dev-2026
JWT_EXPIRATION=7d

# App Ports
CARE_APP_PORT=3000
WORKSPACE_APP_PORT=3001
CONTROL_APP_PORT=3002
API_PORT=4000
